/* Global */
html {
  margin: 0 !important;
}
h1,h2,h3,h4,h5,h6{
  font-family:Rubik,sans-serif;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  @include f-regular;
  font-size: 25px;
  color: #232323;
}


a {
  text-decoration: none;
  color:#333333 !important;
}
.slider{
  transition:0.5s ease-in;
}

*, *::before, *::after {
  box-sizing: border-box;
  direction: rtl;
}

p {
  margin: 0;
}
div{
  font-family: Rubik,sans-serif;
}
ul {
  -webkit-padding-start: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
input{
  font-family:Rubik,sans-serif !important;
}
section {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
}
a:active,a:hover,a:visited{
  text-decoration: none;
  color:black;
}

.section-inner {
  max-width: 1250px;
  padding: 0 10px;
  width: 100%;
}
.thanks{
  padding:30px;
  font-weight:bold;
}
.owl-wrapper-outer {
  -webkit-transform-style: preserve-3d;
}
span.plus {
  transform: translateY(-82%);
  bottom: 2px;
  right: -1px;
  position: relative;
}
.mobile-nav {
  display:flex;
  justify-content: space-between;
  flex-flow:row-reverse;
  max-width: 100%;


  .btn-1{
    background: #e9eaec;
    padding:5px 10px 0 10px;
    //margin-right: 40%;
    span{
      font-size:16px;
    }
  }
  .btn-2{
    background:#e9eaec;
    //margin-right:20px;
    padding:5px 10px 0 10px;
    margin-left: -650px;
    span{
      font-size:16px;
    }
  }
  .active{
    background:lightgrey;
    //height:90px;
    span{
      //font-size: 30px;
      //font-weight: bold;
    }

  }
}
.img-thanks{
 top:85% !important;
}
a{
  color:#333333
}
a:visited{
  color:#333333;
}
.alert{
  display:none;
}
p.alert {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}



.sticky{
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
}
.mobile{
  display: none;
}
.form-title{
  font-family: Rubik,sans-serif;
}
@media screen and(max-width:1000px){
  .mobile{
    display:block;
  }
  .desktop{
    display: none;
  }
}
