
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');


@mixin f-light {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

@mixin f-regular {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

@mixin f-medium {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

@mixin f-bold {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}
/* /Fonts */



header{
  .logo{
    margin:45px auto;
    text-align:center;
  }
}

section.slider-top{
  //transition: 0.5 ease-in;
  div.panel-right{
    position: absolute;
    top:15%;
    right:8%;
    .grey-box{
      background:#e9eaec;
      height:300px;
      width:250px;
      margin:0 auto;
      padding-top:25%;
      text-align: center;
      transition:0.5s ease-in;
      a{
        .button{
          background:#e9eaec;
          padding: 7% 6%;
          color:black;
          margin:0 0;
          width:240px;
          text-align: right;
          padding-right:18%;
          z-index: 0;
          position: absolute;
          cursor: pointer;
              span{
                font-size:24px;
                font-weight:bold;
              }
              img{
                vertical-align: baseline;
                padding-right:23%;
              }
              .chosen{
                display: inline-block;
              }
              .unchosen{
                display:none;
              }
            }
        .active{
          background: #ffffff !important;
          width:320px;
          z-index: 9999;
          cursor: pointer;
          //transition:0.5s ease-in;
        }
        a:hover{
          color:black;
          text-decoration: none;
        }

        .used{
          background:white;
        }

      }
      a{
        .btn-2{
          margin-top:100px;
          background:#e9eaec;
        }

      }
    }
  }
  .info{
    position: absolute;
    top: 36%;
    right: 8%;
    z-index: 1000;
    background: white;
    text-align: right;
    padding: 20px 0 20px 20px;
    img{
      float:right;
      padding:2px;
    }
    div{
      float:left;
      display:inline;
      width:365px;
      padding-top:13%;
      padding-right:20px;
      strong{
        display:block;
        font-size:24px;
        font-weight:bold;
      }
      p{
        display:block;
        font-size:16px;
        font-weight:500;
      }
    }
  }
}

.owl-carousel{
  //transition: 1s ease-in;
}
//.owl-carousel .owl-item img{transition: 0.5s ease-in}

//owl-slider navigation
.grey-wrap{
  height: 270px;
  width: 250px;
  background: #e9eaec;
  position: absolute;
  top: 40.3%;
  left: 8.1%;

  .owl-nav{
    width: 300px;
    height: 100px;
    background: white;
    //border: 1px solid black;
    position: absolute;
    top: 28%;
    left: 9.5%;
    z-index: 100;
    font-size: 18px;
    font-weight: bold;

    .owl-prev,.owl-next{
      transform: translateY(125%);
      cursor: pointer;
    }
    .owl-prev{
      display:inline-block;
      float:right;
      padding-left: 30px;
      img{
        padding-left: 10px;
        margin-right: 10px;
      }
    }

    .owl-next{
      display:inline-block;
      float:left;
      padding-right: 30px;
      img{
        padding-left: 10px;
        margin-left: 10px;
      }
    }
    .fliped{
      transform: scaleX(-1);
    }
  }
  /*.owl-nav:hover{
    color:white;
    background:black;
    img{
      filter:brightness(0) invert(1);
    }
  }*/


  .details{
    position: absolute;
    bottom: 10%;
    left: 23%;
    z-index: 99999;
    .details-btn{
      font-weight: bold;
      border:none;
      background:#e9eaec;
      cursor:pointer;
    }
      .house-info{
        //display: none;
      }
      .show{
        display: block
      }
  }
}
section.form{
  margin-top:100px;
  width: 100%;
  max-width: 1600px;
  text-align: center;
  background-image: url('../images/form-bg.png');
  img{
    position: absolute;
    top: 67.5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  div.form-box{
    h2{
      font-size:36px;
      font-weight:500;
      background:white;
      display: inline-block;
      padding:15px 35px;
    }
    p{
      font-size:18px;
      //font-weight:bold;
      font-weight:500;
      font-family:Rubik,sans-serif;
    }
    .bigger{
      font-size:24px;
    }
    .smaller{
      font-size:18px;
      margin: 50px 0;
    }
    .contact-form{
      span{
        margin:1%;

        input{
          padding:15px;
          font-weight:bold;
          background:white;
          width:25%;
          border:none;

        }

      }
      input{
        padding:15px 70px;
        font-weight:bold;
        background:black;
        color:white;
        //margin-right:5px;
        border:none;
        //transition:0.5s ease-out;
        margin-top:20px;
        color: black;
      }
      .btn-submit{
        color:white;
      }
      input:hover {
        background: white;
        color:black;
      }
    }

  }

}

.house-info{
  display: none;
}
.show{
  display: block;
  position: relative;
  /* left: 0.5%; */
  height: 110px;
  width: 84%;
  margin: 0 auto;
  background: lightgrey;
  text-align: -webkit-auto;
  padding: 10px;
  z-index: 99999;

  max-width: 83.8%;
}
div.info{
  div{
    font-family:Rubik,sans-serif;
  }
}


/*MEDIA QUERIES*/

@media screen and (max-width:1850px){
  section.slider-top{
    div.panel-right{
      right:6.5%;
    }
    div.info{
      right:6.5%;
      padding:5px;
    }
  }
  .grey-wrap{
      left:7%;
  }

}
@media screen and (max-width:1800px){
  .show{
    width: 100%;
    max-width: 88.9%;
  }
  section.slider-top{
    div.panel-right{
      right:5%;
    }
    div.info{
      right:5%;
    }
  }
  .grey-wrap{
    left:5.5%;
  }
}
@media screen and (max-width:1750px){
  section.slider-top{
    div.panel-right{
      right:3.7%;
    }
    div.info{
      right:4%;
    }

  }
  .grey-wrap{
    left:4%;
  }
}
@media screen and (max-width:1700px){.show{max-width: 92%}}
@media screen and (max-width:1660px){
  .show{
    max-width: 96%;
  }
  section.slider-top{
    div.panel-right{
      right:1.5%;
    }
    div.info{
      right:1.5%;
    }
  }
  .grey-wrap{
    left:2%;
  }
}
@media screen and (max-width:1600px){
  .show{
    max-width: 100%;
  }
  section.slider-top{
    div.panel-right{
      right:0%;
    }
    div.info{
      right:0%;
    }
  }
  .grey-wrap{
    left:0%;
  }
}
@media screen and (max-width:1550px){
  .show{
    max-width: 96%;
    //margin-top:20px;
  }
  .owl-carousel .owl-item img{
    width:90% !important;
    margin:0 auto;
  }
  section.slider-top{
    div.panel-right{
      top:13%;
      right:2.3%;
      height:290px;
    }
    div.info{
      top:35.5%;
      right:2.3%;
    }
  }
  .grey-wrap{
    left:2%;
    top: 38.5%;
    height:250px;
  }
  section.form img {
    top:69%;
  }

}
@media screen and (max-width:1500px){
  .owl-carousel .owl-item img{
    width:90% !important;
    margin:0 auto;
  }
  section.slider-top{
    div.panel-right{
      top:13%;
      right:0.5%;
      height:290px;
    }
    div.info{
      top:35.5%;
      right:0.5%;
      padding: 2px 0 2px 20px;
    }
  }
  .grey-wrap{
    left:0.5%;
    top: 38.5%;
    height:250px;
  }

}

@media screen and (max-width:1450px){
  .owl-carousel .owl-item img{
    width:87% !important;
    margin:0 auto;
  }
  .grey-wrap{
    top: 37.5%;
  }


}
@media screen and (max-width:1420px){
  .owl-carousel .owl-item img{
    width:82% !important;
    margin:0 auto;
  }
  .grey-wrap{
    top: 35.7%;
  }
  section.form img {
    top:68%;
  }

}
@media screen and (max-width:1360px){
  section.slider-top .info img {
    width:30%;
  }
  .owl-carousel .owl-item img{
    width:78% !important;
    margin:0 auto;
  }
  section.slider-top{
    div.info{
      top:35.5%;
    }
  }

  .grey-wrap{
    top: 34.2%;
  }
  section.form img {
    top:66.5%;
  }
}
@media screen and (max-width:1320px){
  .owl-carousel .owl-item img{
    width:75% !important;
    margin:0 auto;
  }
  .grey-wrap{
    top: 33%;
  }
}@media screen and (max-width:1280px){
  section.slider-top .info img {
    width:25%;
  }
  section.slider-top .info div {
    float: left;
    display: inline;
    width: 365px;
    padding-top: 6%;
    padding-right: 20px;
  }
  .owl-carousel .owl-item img{
    width:72% !important;
    margin:0 auto;
  }
  .grey-wrap{
    top: 32.5%;
  }
  section.form img {
    top:65%;
  }
}
@media screen and (max-width:1250px){
  .owl-carousel .owl-item img{
    width:67% !important;
    margin:0 auto;
  }
  .grey-wrap{
    top:30%;
  }
}

@media screen and (max-width:1200px){
  .owl-carousel .owl-item img{
    width:75% !important;
    margin:0 auto;
  }
  section.slider-top{
    div.info{
      top:35.5%;
      img{
        width:25%;
      }
      div{
        padding-top:4%;
      }
    }
  }

  .grey-wrap{
    top:33%;
  }
  section.form img {
    top:66%;
  }
}

@media screen and (max-width:1150px){
  section.slider-top div.info img {
    width: 20%;
  }
  .owl-carousel .owl-item img{
    width:75% !important;
    margin:0 auto;
  }
  section.slider-top{
    div.panel-right{
      .grey-box{
        padding-top:20%;
        a{
          .button{
            padding-right:10%;
          }
        }
      }
    div.info{
      top:35.5%;
      img{
        width:25%;
      }
      div{
        padding-top:4%;
      }
    }
  }
}
  .grey-wrap{
    top:27.8%;
  }
  section.form img {
    top:62%;
  }


}

@media screen and(max-width: 1120px){
  section.slider-top{
    div.panel-right{
      .grey-box{
      a{
        .button{
          padding-right:5%;
          }
        }
      }
    div.info{
      top:35.5%;
      img{
        width:25%;
      }
      div{
        padding-top:4%;
      }
    }
  }
}
  section.form img {
    top:64%;
  }
}
@media screen and(max-width: 1100px){

  .owl-carousel .owl-item img{
    width:70% !important;
    margin:0 auto;
  }
  section.slider-top{
    div.panel-right{
      .grey-box{
        a{
          .button{
            padding-right:2%;
          }
        }
      }
      div.info{
        top:35.5%;
        img{
          width:25%;
        }
        div{
          padding-top:4%;
        }
      }
    }
  }
  .grey-wrap{
    top:26%;
  }
  section.form img {
    top:62%;
  }
}



//Mobile design
@media screen and(max-width: 1024px){
  .mobile-nav {
    .btn-1{
      span{
      }
    }
    .btn-2{
      //margin-right: -650px;
      span{
      }
    }
    .active{
      background:lightgrey;
      span{
      }
    }
  }
  .arrow{
    display: none;
  }
  .container{
    .logo{
      margin-bottom:30px;
    }
  }
  .owl-carousel .owl-item img{
    width:100% !important;
    margin:0 auto;
  }
  .hide{
    display:none;
  }
  .details{
    position: relative;
    align-self:flex-end;

    .details-btn{
      background: #e9eaec;
      border:none;
      outline:none;
      width: 50px;
      height: 50px;
      font-weight: bold;
      font-size: 30px;

    }
  }
  section.slider-top{
    div.panel-right{
      top: 107px;
      right: 50%;
      .grey-box{
        padding:0 0;
        margin:0;
        height: 0;
        width: 0;
        a{
          .button{
            background:lightgrey;
            margin:0;
            padding:10px 0;
            width: 190px;
              .chosen{
                transform:rotate(270deg);
                padding:0px 0px;
                display: none;
              }
            }
          .active{
            height: 75px;
            top: 15px;
          }
          }
        }

        .btn-2{
          top: 0;
          left: 88%;
        }
      }
  }
  div.info{
    display: block;
    width: 91%;
    margin-top: 2%;
    background: #e9eaec;
    -webkit-transform: translateX(-6%);
    transform: translateX(-4.4%);
    padding-right: 10px;
    img{
      max-width: 100%;
      float: left;
      height: auto;
      padding-right: 10px;
      width: 20%;
      margin-top: 2%;
      margin-left: 2%;
    }
    div{
      padding-top:4%;
      height: 240px;
      text-align:right;
    }
  }
  .grey-wrap{
    background: none;
    .owl-nav{
      width: 300px;
      height: 100px;
      background: white;
      position: absolute;
      top: 80%;
      left: 5%;
      z-index: 100;
      font-size: 18px;
      font-weight: bold;
    }
  }
  section.form{
    margin-top: 80px;
    img{
      position: absolute;
      top: 74.7%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: -1;
    }
  }
  .owl-nav {
    right: 50%;
    z-index: 99999;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    .owl-next {
      left: 4%;
      position: absolute;
      top: 31%;
      z-index: 99999;
      background: white;
      padding: 10px;
      width:110px;
      img{
        padding-left:10%;
      }
      img.fliped {
        transform: rotate(180deg);
      }
    }
    .owl-prev {
      position: absolute;
      top: 31%;
      right: 4%;
      padding: 10px;
      z-index: 99999;
      width:110px;
      background: white;
      img{
        padding-left:10%;
      }
      img.fliped {
        transform: rotate(180deg);
      }
    }
  }
  .house-info{
    position: absolute;
    top: 11%;
    right: 10%;
    z-index: 99999;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    font-size: 16px;
    font-weight: 400;
    width: 80%;
    transition: 0.5s ease-in;
    font-family: Rubik;
  }
  .btn-submit{
    margin-right:3%;
  }

}
@media screen and(max-width:995px){
  section.form img {
    top:71.5%;
  }
  .mobile-nav {
    .btn-1{
      span{
      }
    }
    .btn-2{
      margin-left: -450px;
      span{
      }
    }
    .active{
      background:lightgrey;
      span{
      }
    }
  }
  .owl-nav{
    .owl-prev {
      top: 31%;
    }
      .owl-next{
      top:31%
    }
  }
}
@media screen and(max-width:992px) {
  .house-info {
    top: 11%;
    right: 17.5%;
    width: 65%;
  }
}

@media screen and(max-width:950px){
  section.form img {
    top:70%;
  }
  div.info div {
    height:220px;
  }
  .owl-nav{
    .owl-prev {
      top: 31%;
    }
    .owl-next{
      top:31%
    }
  }
}
@media screen and(max-width:945px){
  section.form img {
    top:68%;
  }
}
@media screen and(max-width:850px){
  div.info div {
    height:200px;
  }
}
@media screen and(max-width:768px){
  section.form img {
    top:64.5%;
  }
  .house-info {
    top: 13%;
    right: 20%;
    width: 60%;
  }
  .mobile-nav {
    .btn-1{
      span{
      }
    }
    .btn-2{
      margin-left: -250px;
      span{
      }
    }
    .active{
      background:lightgrey;
      span{
      }
    }
  }
}
@media screen and(max-width:750px){
  div.info div {
    height:180px;
  }
  .owl-nav{
    .owl-prev {
      top: 27%;
    }
    .owl-next{
      top:27%
    }
  }
}
@media screen and(max-width:650px){
  section.form img {
    top:63%;
  }
  div.info div {
    height:160px;
  }
}
@media screen and(max-width:600px){
  section.slider-top div.panel-right .grey-box a .button {
    height: 55px;
    width: 125px;
    text-align: center;

  }
  .mobile-nav .active span {
    //font-size:22px;
  }
  section.slider-top div.panel-right .grey-box a .button span{
    //font-size:18px;

  }
  section.slider-top div.panel-right .grey-box a .button img{
    width:20%;

  }

  section.form{
    div.form-box{
      .contact-form{
        span{
          display: block;
          width:98%;
          input{
            width:100%;
          }
        }
        input{
          margin-right:0;
          width:98%;
        }
      }
    }
  }
  .house-info{
    position: absolute;
    //top:10%;
    //left:1%;
    z-index:99999;
  }
  .owl-nav{
    .owl-prev {
      top: 24%;
    }
    .owl-next{
      top:24%
    }
  }
}
@media screen and(max-width:550px){
  div.info div {
    height:160px;
  }
}
@media screen and(max-width:500px){
  span.plus{
    bottom: 7px;
  }

  .mobile-nav .btn-1{
    margin-top: 5%;
    padding: 1% 5px 5px;
  }
  .mobile-nav .btn-2{
    margin-top: 5%;
    padding: 1% 5px 5px;
    //margin-right: -200px;
  }
  .mobile-nav .active span {
    //font-size:18px;
  }
  .details .details-btn {
    width: 30px;
    height: 30px;
    vertical-align: middle;

  }

  section.form{
   margin-top: 50px;
    img {
      top:60.5%;
    }
  }
}

@media screen and(max-width:450px){
  header{
    .logo{
     img{
       width:80%;
     }
    }
  }
  .mobile-nav {
    .btn-1{
      span{
      }
    }
    .btn-2{
      margin-left: -150px;
      span{
      }
    }
    .active{
      background:lightgrey;
      span{
      }
    }
  }

  .details{
    top: 12%;
    left: unset;
    right:0;
  }
  .house-info{
    //top: 26%;
    //right: 0;
  }
  section.slider-top{
    div.panel-right{
      .grey-box a {
        .button {
          width:140px;
          span{font-size:16px;}
          img{width:30%;}
        }
        .active{
          height:55px;
        }
      }

    }
  }
  section.form img {
    top:60.5%;
  }
  .owl-nav{
    .owl-prev {
      top: 25%;
    }
    .owl-next{
      top:25%
    }
  }
}@media screen and(max-width:380px){
  .mobile-nav {
    .btn-1{
      span{
      }
    }
    .btn-2{
      margin-left: -100px;
      span{
      }
    }
    .active{
      background:lightgrey;
      span{
      }
    }
  }
  .mobile-nav .active span {
    font-size:16px;
  }
  header{
    .logo{
     img{
       width:80%;
     }
    }
  }
  section.slider-top{
    div.panel-right{
      .grey-box a {
        .button {
          width:120px;
          span{font-size:16px;}
          img{width:30%;}
        }
        .active{
          height:55px;
        }
      }

    }
  }
  section.form img {
    top:60.5%;
  }
  .owl-nav{
    .owl-prev {
      top: 22%;
    }
    .owl-next{
      top:22%
    }
  }
}
